*.env.local
.DS_Store
node_modules/
dist/
bin/
*.exe
*.txt
/tmp-*
docker-volumes/
analytics-service/
feedback-service/
frontend/
menu-service/
notification-service/
order-service/
user-service/
envs/
docs/
project_management/
skills-lock.json